@font-face {
    font-family: gothamRounded;
    src: url(../fonts/gotham-rounded-medium.otf);
}

.nav-bg{
    background-color: #0054a6;
    background-image: none;
}

.navbar .nav > li > a{
    padding: 0px;  
    display: block;
    background-color: #0054a6;
    margin: 0px;
}

.navbar-brand{
    padding: 0px;
}

.navbar img{
    width: 80%; 
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background:  #0054a6;
 }
 
.input-group-addon {
    background-color: #8dc63f;
}

body{
    background-image: url(../img/bg/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.destination-group{
    margin-top: 15%;
}

.register-group{
    margin-top: 15%;
}

.login-group{
    margin-top: 15%;
}

.divider{
    margin-top: 8%;
}

.contact_group{
    margin-top: 10%;
}

.data-group{
    background-color: #F7F7F7;
    margin-top: 2.5%;
    border-radius: 12px;
}

.ui-datepicker { 
    z-index: 1151 !important;;
}

.info-header{
    font-family: gothamRounded;
    color:#ead24a;
}

.info-body{
    color: #c4b874;
    font-size: large;
}

.info-body a{
    color: #e4e1e1;
    font-size: medium;
    
}

.bar1{
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 8px;
}

.bar2{
   margin-top: 10px;
   padding-left : 0px; 
   padding-right : 0px; 
   padding: 0px;
}

.sched-block{
    //padding-left: 10px;
    padding: 12px;
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 8px;
}

.bookings-block{
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 12px;
}

inline-search{
    padding: 20px;
}

.body-col-1{
    margin-top: 12px;
    margin-bottom: 12px;
}

.forgot{
    font-family: gothamRounded;
    font-size: medium;
}

.custom-form{
    
}