@font-face {
    font-family: gothamRounded;
    src: url(../fonts/gotham-rounded-medium.otf);
}

.nav-bg{
    background-color: #0054a6;
    background-image: none;
}

.navbar .nav > li > a{
    padding: 0px;  
    display: block;
    background-color: #0054a6;
    margin: 0px;
}

.navbar-brand{
    padding: 0px;
}

.navbar img{
    width: 80%; 
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background:  #0054a6;
 }
 
.input-group-addon {
    background-color: #8dc63f;
}

body{
    background-image: url(../img/bg/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.destination-group{
    margin-top: 15%;
}

.register-group{
    margin-top: 15%;
}

.login-group{
    margin-top: 15%;
}

.divider{
    margin-top: 8%;
}

.contact_group{
    margin-top: 10%;
}

.data-group{
    background-color: #F7F7F7;
    margin-top: 2.5%;
    border-radius: 12px;
}

.ui-datepicker { 
    z-index: 1151 !important;;
}

.info-header{
    font-family: gothamRounded;
    color:#ead24a;
}

.info-body{
    color: #c4b874;
    font-size: large;
}

.info-body a{
    color: #e4e1e1;
    font-size: medium;
    
}

.bar1{
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 8px;
}

.bar2{
   margin-top: 10px;
   padding-left : 0px; 
   padding-right : 0px; 
   padding: 0px;
}

.sched-block{
    //padding-left: 10px;
    padding: 12px;
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 8px;
}

.bookings-block{
    border-style: solid;
    border-color: white;
    border-width: .5px;
    border-radius: 12px;
}

inline-search{
    padding: 20px;
}

.body-col-1{
    margin-top: 12px;
    margin-bottom: 12px;
}

.forgot{
    font-family: gothamRounded;
    font-size: medium;
}

.custom-form{
    
}


#buslayout tr td{
     margin: 4px;
     border: solid;    border-width: 1px; }
 
 #buslayout .seatCheckBox{
     margin: 5px;}
/*Nuru nuru slider hue*/


        .appicon01
        {
            background: url(../img/appicon/01.png);
        }
        .appicon02
        {
            background: url(../img/appicon/02.png);
        }
        .appicon03
        {
            background: url(../img/appicon/03.png);
        }
        .appicon01, .appicon02, .appicon03
        {
            display: block;
            position: absolute;
            width: 160px;
            height: 150px;
        }
        .appicon01:hover, .appicon02:hover, .appicon03:hover
        {
            text-decoration: none;
        }
        .appiconcb
        {
            position: absolute;
            left: 0px;
            bottom: 10px;
            width: 160px;
            height: 25px;
        }
        .appiconc
        {
            position: absolute;
            left: 0px;
            bottom: 10px;
            text-align: center;
            width: 160px;
            height: 25px;
            line-height:25px;
            font-family: Verdana, Arial;
            color: #fff;
            font-size:14px;
            text-decoration:none;
        }
        .appicon01:hover .appiconcb, .appicon02:hover .appiconcb, .appicon03:hover .appiconcb
        {
            background-color: #fff;
            filter: alpha(opacity=30);
            opacity: .3;
        }
        .appicon01:hover .appiconc, .appicon02:hover .appiconc, .appicon03:hover .appiconc
        {
            color: #000;
        }



  
/*Pop out mini windows*/

body {
  color: #333;
  font-family: 'Helvetica', arial;
}


hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}

.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #909090;
}

.modal:before {
  content: "";
  /*display: none;*/
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.modal:target:before {
  -webkit-transition: -webkit-transform 0.9s ease-out;
  -moz-transition: -moz-transform 0.9s ease-out;
  -o-transition: -o-transform 0.9s ease-out;
  transition: transform 0.9s ease-out;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  /*display: block;*/
}

.modal:target + .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -276px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 560px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 120px;
  text-align: center;

  
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}


